* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    background: #111;
}
/* for small devicess */
@media screen and (max-width: 800px) {
    .nav img {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .navbar ul li a {
        display: none;
    }

    #home .trib_info .info h3 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1.25rem;
    }

    #home .btn {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.navbar {
    background-color: rgb(1, 1, 8);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    position: sticky;
}

/* .nav {
    background-color: rgb(1, 1, 8);
    display: flex;
} */
.navbar ul {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(13, 14, 15);
    background: rgb(204, 230, 180);
    margin: 3px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 15px;
    transition: 1s ease-in;

}

.navbar ul li a:hover {
    background-color: black;
    color: yellowgreen;
}

.navbar img {
    height: 92px;
    width: 280px;
}

#home {
    height: 700px;
    background-image: url('pietro-jeng-n6B49lTx7NM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#home h1 {
    color: rgb(218, 235, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
}

.trib_info {
    display: flex;
    color: aliceblue;
    margin-left: 23px;
    justify-content: space-around;
    margin-top: 150px;
    font-family: 'Trebuchet MS', garamond, sans-serif;
}

.info {
    font-size: 3em;
}

.image img {
    /* height: 90px; */
    margin-top: -223px;
}

.image {
    background-color: black;
}

.love {
    font-size: 28px;
}

.btn {
    margin: 23px;
    /* padding: 35px; */
    margin-left: 550px;
    text-decoration: none;
    /* box-shadow:5px blue; */
}

.btn button {
    background-color: blue;
    font-size: 1.8rem;
    font-size: bold;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8px;
    margin: 6px;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: none;
    /* font-style: normal; */
    transition: 1s ease-in-out;
    /* box-shadow:5px up blue; */
}

.btn button a {
    text-decoration: none;
    color: black;
}

.btn button:hover {
    text-shadow: aqua;
    background: rgb(192, 183, 183);
    color: black;
    font-size: bold;

}

#achivement {
    background-image: url('pietro-jeng-n6B49lTx7NM-unsplash.jpg');
}

#achivement::before {
    content: "";
    background: #000;
   filter: blur(2px);
}

#achivement h1 {
    text-align: center;
    align-items: center;
    /* background:green; */
    color: aliceblue;
    font-size: 3rem;
}

/* Achivement box Designing starts here  */

@mixin breakpoint($point) {
    @if $point ==desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0 80px;
}

.card {
    width: 300px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card__caption {
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-weight: bold;
}


.card__image {
    transform: translateY(-10px);
    height: 318px;
    width: 300px;
}

.card__thumb::after {
    top: 0;
}


.card__snippet {
    margin: 20px 0;
    color: rgb(232, 190, 190);
}

.card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;

    @include breakpoint(desktop) {
        max-height: 500px;
    }
}

.card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;

    @include breakpoint(desktop) {
        top: calc(100% - 140px);
    }
}

.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: rgb(237, 228, 228);
    transform: translateY(-50%);
    text-align: center;
    transition: .3s;
    font-weight: bold;

    @include breakpoint(desktop) {
        top: calc(100% - 110px);
        transform: unset;
    }
}

.card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: .5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;

}

.card__button:hover {
    color: black;
    background-color: white;
}

section #contact {
    border: 10px lightcoral;
}

/* contct section designing starts here */


#contact {
    background-image: url('pexels-andy-vu-3244513.jpg');
    /* background: #111; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#hello {
    font-size: 1.5rem;
    color: white;
}

.button {
    text-align: center;
    font-size: 3rem;
    background-color: blue;
    color: white;
}

.submit {
    text-align: center;
    /* background-color: aqua; */
}

.submit button {
    background-color: rgb(18, 111, 111);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 2em;
    margin-bottom: 10px;

}

.submit button:hover {
    background: rgb(155, 225, 234);
    cursor: pointer;
    transition: 1s ease-in-out;
}



/* Footer styling starts here  */
footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    overflow-x: hidden;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
    margin-right: 150px;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
